@import './libs';
@import './vars';
@import './fonts';

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

button {
    cursor: pointer;
}


.section_homepage {
    background: url('../images/dest/large/@3x/home-bg.png') center center no-repeat;
    background-size: cover;
}

.container {
    display: block;
    max-width: 1440px;
    height: 100vh;
    text-align: center;
    margin: auto
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

.header_logo {
    align-self: flex-start;
}


.menu button {
    border: 0;
    background-color: transparent;
    font-size: $md-font-size;
    color: $base-dark-color;
    text-transform: uppercase;
    font-family: 'Tajawal', sans-serif;
    font-weight: 800;
}

.section_homepage-content {
    display: flex;
    padding-left: 200px;
}

h1 {
    font-size: $lg-font-size;
    color: $base-dark-color;
    font-family: 'Cinzel', sans-serif;
    text-align: left;
    font-weight: 400;
    flex-basis: 38%;
    flex-grow: 0;
    max-width: 480px;
}



















@import './media';
